<div class="container header-form fixed-top bg-light" style="margin-top:72px">
    <h2>Lista de Contatos</h2>
    <hr>
    <div class="form-group row my-4">
        <label class="col-sm-2 text-center">Pesquisar:</label>
        <div class="col-sm-9">
            <input [(ngModel)]="filter" type="search" class="form-control">
        </div>
    </div>
</div>

<div class="table-responsive" style="margin-top: 220px;">
    <table class="table table-striped">
        <thead>
            <tr class="text-center">
                <th class="show1400">Imagem</th>
                <th>Nome</th>
                <th>Ramal Interno</th>
                <th class="show769">Ramal Externo</th>
                <th class="show1400">Email</th>
                <th class="show1400">Corporativo</th>
                <th>Setor</th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let contact of filteredContacts" class="text-center align-middle">        
                <td class="show1400"><img src={{contact.imagemUrl}} onerror="this.src='assets/images/avatar.svg'" width="80" height="86"></td>
                <td>{{ contact.nome }}</td>
                <td>{{ contact.ramalInterno }}</td>
                <td class="show769">{{ contact.ramalExterno | phoneFormat }}</td>
                <td class="show1400">{{ contact.email }}</td>
                <td class="show1400">{{ contact.corporativo | phoneFormat }}</td>
                <td>{{ contact.setor }}</td>
            </tr>
        </tbody>
    </table>
</div>

